/*place global styles here */
html,
body {
  @apply h-full;
}

:root {
  --theme-font-family-base: 'Lato';
  --theme-font-family-heading: 'Lato';
}

[data-theme='skeleton'] {
  background-color: hsla(231, 23%, 18%, 1);
  background-image: radial-gradient(at 16% 9%, hsla(230, 18%, 26%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(234, 82%, 84%, 0.57) 0px, transparent 50%);
}
